.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
Requisitos de memória.xlsx
calcula_size_medio_sent.py
teste_json.py
teste_multinomial_dist
videos/
data/init*
checkpoints/**
images/*.png
pacotes.txt
gpt2-small-pt-fin/
exemplos/