.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
Requisitos de memória.xlsx
calcula_size_medio_sent.py
teste_json.py
teste_multinomial_dist
videos/
data/init*
word_cluster_plot_video.py
training_nanoGPT_GPU_video.py
transformer_sizing.py
TransformerMemoryCalculation.py
objective_function.py
calculates_average_sentence_length.py
embeddings_nanoGPT_tiktoken.py
embeddings_nanoGPT.py
training_nanoGPT_GPU_v2.py
checkpoints/**
images/*.png
pacotes.txt
gpt2-small-pt-fin/
word_cluster_plot_tok_GPT2.py
ex_frequency_penalty.py
ex_presence_penalty.py